<% if order.line_items.assemblies.any? %>
  <div class="panel panel-default">
    <div class="panel-heading stock-location no-borderb" data-hook="product-bundles-header">
      <h1 class="panel-title">
        <span class="shipment-state"><%= Spree.t(:product_bundles) %></span>
      </h1>
    </div>
    <table class="table table-bordered product-bundles" data-hook="">
      <thead>
        <th colspan="2"><%= Spree.t(:item_description) %></th>
        <th class="text-center"><%= Spree.t(:price) %></th>
        <th class="text-center"><%= Spree.t(:quantity) %></th>
        <th class="text-center"><%= Spree.t(:total) %></th>
        <th class="orders-actions actions text-center" data-hook="admin_order_form_line_items_header_actions"></th>
      </thead>

      <% order.line_items.assemblies.each do |item| %>
        <tbody>
          <tr class="" data-item-quantity="<%= item.quantity %>">
            <td class="item-image"><%= mini_image(item.variant) %></td>
            <td class="item-name">
              <%= item.product.name %> - <%= item.variant.sku %> <br />
              <%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
            </td>
            <td class="item-price text-center">
              <%= item.single_money.to_html %>
            </td>
            <td class="line-item-qty-show text-center">
              <%= item.quantity %>
            </td>

            <td class="line-item-qty-edit is-hidden">
              <%= number_field_tag :quantity_bundle, item.quantity, :min => 0, class: "line_item_quantity form-control" %>
            </td>

            <td class="item-total text-center">
              <%= item.display_amount.to_html %>
            </td>
            <td class="cart-item-delete actions text-center" data-hook="cart_item_delete">
              <% unless item.any_units_shipped? %>
                <% if can? :update, item %>
                  <%= link_to '#', :class => 'cancel-line-item btn btn-default btn-sm no-text with-tip', :data => {:action => 'cancel'}, :title => Spree.t('actions.cancel'), :style => 'display: none' do %>
                    <span class="icon icon-arrow-left"></span>
                  <% end %>
                  <%= link_to '#', :class => 'save-line-item btn btn-success btn-sm no-text with-tip', :data => { 'line-item-id' => item.id, :action => 'save'}, :title => Spree.t('actions.save'), :style => 'display: none' do %>
                    <span class="icon icon-save"></span>
                  <% end %>
                  <%= link_to '#', :class => 'edit-line-item btn btn-primary btn-sm no-text with-tip', :data => {:action => 'edit'}, :title => Spree.t('edit') do %>
                    <span class="icon icon-edit"></span>
                  <% end %>
                  <%= link_to '#', :class => 'delete-line-item btn btn-danger btn-sm no-text with-tip', :data => { 'line-item-id' => item.id, :action => 'remove'}, :title => Spree.t('delete') do %>
                    <span class="icon icon-remove"></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
