<script type="text/javascript">
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>

<h4><%= Spree.t(:available_parts) %></h4>
<table class="table index">
  <colgroup>
    <col style="width: 20%;" />
    <col style="width: 61%;" />
    <col style="width: 11%;" />
    <col style="width: 8%;" />
  </colgroup>
	<thead>
		<tr>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:sku_options_price) %></th>
        <th><%= Spree.t(:qty) %></th>
        <th class="actions"></th>
      </tr>
	</thead>
	<tbody>
    <% @available_products.each do |product| %>
      <tr id="<%= dom_id(product) %>">
        
        <td><%= product.name %></td>
        <td>
          <% if product.has_variants? %>
            <%= select_tag "part[id]", 
                options_for_select(product.variants.map { |v| [v.sku_and_options_text(true, true), v.id] }) %>
          <% else %>
            <%= hidden_field_tag "part[id]", product.master.id %>
            <%= Spree.t(:no_variants) %>
          <% end %>
        </td>
        <td><%= number_field_tag "part[count]", 1, :class => "form-control" %></td>
		    <td class="actions">
          <%= link_to admin_product_parts_path(@product),
            :class => "add_product_part_link btn btn-default btn-sm icon-link
              action-save with-tip", title: "Add", method: :post do %>
		        <span class="icon icon-add"></span> Add
          <% end %>
		    </td>           
      </tr>
    <% end %>
    <% if @available_products.empty? %>
     <tr><td colspan="3"><%= Spree.t(:no_match_found) %>.</td></tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $("a.add_product_part_link").click(function(){
    part_id_val = $('select option:selected', $(this).parent().parent()).val() ||
                  $('input:first', $(this).parent().parent()).val();
    params = { part_count :  $('input:last', $(this).parent().parent()).val(),
               part_id : part_id_val};
    return make_post_request($(this), params);
  });  
<% end %>  
